:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --color-iris: #4d5ae5;
  --navi-blue: #2e2f42;
  --slate: #434455;
  --solid: #ffffff;
  --ocean: #404bbf;
  --green: #31d0aa;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --dairy: #fcfcfc;
}
/* ---------- Body ------ */
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
.header {
  border-bottom: 1px solid #e7e9fc;
}

.container {
  max-width: 428px;
  margin-left: auto;
  margin-right: auto;
  padding-left:  16px;
  padding-right: 16px;
}

/*======Heaadersection======*/
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
@media only screen and ( max-width:427px)  {
  .container{
      max-width: 427px;
  }
  .modal{
  width: 320px;
  
  }
  .hero-header{
      margin-bottom: 72px;
  }
}
@media only screen and ( max-width:1157px)  {
 .hero-header{
  max-width: 496px;
}
}

@media only screen and ( min-width:428px)  {
  .modal{
      min-width: 408px;
  }
}
.menu-nav {
  display: flex;
  align-items: center;
}
.main-nav {
  display: flex;
  align-items: center;
}
.menu-list {
  display: flex;
  gap: 40px;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.logo-studio-header {
  color: #2e2f42;
}
.logo-studio-footer {
  color: #f4f4fd;
}

.logo {
  display: flex;
  align-items: center;
}

.address {
  color: #434455;
}
.link-text:hover,
.link-text:focus,
.address:hover,
.address:focus {
  color: #404bbf;
}

.link {
  text-decoration: none;
}

.link-text {
  position: relative;
  padding: 21px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-text:hover,
.link-text:focus {
  color: #404bbf;
}
.link-text::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  bottom: -1px; 
  transform: scaleX(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-text:hover::after,
.link-text:focus::after {
  transform: scaleX(1);
}
/* active */
.link-text.active::after {
  transform: scaleX(1);
}
.active {
  color: #404bbf;
}

.contacts {
  margin-left: auto;
  font-style: normal;
}

.contacts {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: inherit;
  margin-left: 332px;
}
.contacts-list {
  display: flex;
  gap: 40px;
  
}
.address-link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

/*======Zagolovok1======*/

.section-hero-properties {
  padding: 188px 0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
  height: 600px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #2e2f42;
}

.section-hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;

}

/*btn-hero.*/
.btn-hero {
  padding: 16px 32px;
  border: none;
  border-radius: 4px;

  font-family: "Roboto", sans-serif;
   font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: #ffffff;
  background: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-hero:hover,
.btn-hero:focus {
  background-color: #404bbf;
}


  /* backdrop. */
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .backdrop.is-hidden {
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
  }
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 24px;
    min-height: 576px;
    min-width: 408px;
    background-color: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
  .modal > button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    width: 24px;
    height: 24px;
    margin-bottom: 24px;
  
    cursor: pointer;
    color: #2e2f42;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal > button:hover,
  .modal > button:focus {
    color: #ffffff;
    background-color: #404bbf;
    fill: #ffffff;
  }
  
  
  .modal-close-svg{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  }
  
  .title-contacts{
    font-size: 16px;
    line-height: 24px;
    text-align: center;
   letter-spacing: 0.02em;
   color: #2E2F42;
   margin-bottom: 8px;
   }
   .label-js{
       position: relative;
       display: flex;
       flex-wrap: wrap;
       margin-bottom: 4px;
       font-size: 12px;
       line-height: 1.7;
       letter-spacing: 0.04em;
       color: #8E8F99;
      
   }
   .retreat{
       margin-bottom: 4px;
   }
   .label-js:focus-within{
       fill: #404bbf;
     }
   .label-textarea{
       margin-bottom: 16px;
   }
   .span-js{
       width: 100%;
       position: relative;
   }
   .svg-connections{
       position: absolute;
       top: 50%;;
       left: 19px;
       align-items: center;
       justify-content: center;
       transform: translateY(-50%);

   }
   .input-modal{
       padding: 11px;
       padding-left: 38px;
       width: 100%;
       height: 40px;
       outline: none;
       border: 1px solid rgba(46, 47, 66, 0.4);
       border-radius: 4px;
   }
   .input-modal:focus,
   .textarea:focus{
       border: 1px solid #4D5AE5;
   }
   .textarea{
       padding-top: 8px;
       padding-left: 16px;
       width: 100%;
       min-height:120px ;
       resize: none;
       outline: none;
       border: 1px solid rgba(46, 47, 66, 0.4);
       border-radius: 4px;
     }
     .textarea::placeholder{
      font-weight: 400;
      font-size: 12px;
      line-height: 1.7;
      letter-spacing: 0.04em;
      color: rgba(46, 47, 66, 0.4);
     }
   /* Checkbox */
.label-checkbox{
  position: relative;
  display: flex;
  margin-bottom: 24px;
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 0.04em;
  color: #8E8F99;
  

}
.input-checkbox{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.span-checkbox{
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  
  
}
.span-checkbox a{
  color: #4D5AE5;
}
.input-checkbox:checked ~ .span-checkbox{
  background-size: contain;
   border: none;
  background-image: url(../images/checkbox.svg);
  background-color:#404BBF ;
  border: 1px solid #404BBF;
 
}
.checkbox:focus ~ .span-checkbox{
   outline: 1px solid rgba(46, 47, 66, 0.4);
   border-radius: 2px;     
}
.input-checkbox:checked {
  background-color: var(--iris);
  border-color: var(--iris);
}

   
.span-policy{
   font-family: 'Roboto';
    font-style: normal;
   font-size: 12px;
   line-height: 16px;
  color: #4D5AE5;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
}
   /* BTN SUBMIT */
   .btn-submit{
       width: 169px;
       height: 56px;
       padding: 16px 32px;
       background: #4D5AE5;
       cursor: pointer;
       border: none;
       box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
       border-radius: 4px;
       color: #FFFFFF;
       transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
   }
   .btn-submit:hover,
   .btn-submit:focus{
     background: #404BBF;
   }
   @media only screen and (max-width: 767px){
    .cool-teams{
     flex-direction: column;
     align-items: center;
     gap: 72px;
    }
  }
  @media only screen and (max-width: 1157px){
      .cool-teams{
          flex-wrap: wrap;
      }
      .icons-list{
          flex-wrap: wrap;
      }
  }
    @media only screen and (max-width: 767px){
      .need-info{
          /* gap: 24px; */
          display: flex;
          flex-direction: column;
         justify-content: center;
         align-items: center;
         text-align: center;
         row-gap: 72px;
      
        }
    }
  
/*======Section2======*/
.feature-list {
  width: calc((100% - 72px) / 4);
}

.title {
  padding: 120px 0 120px;
}
.list-strategy {
  display: flex;
  gap: 24px;
}

.feature-list-title {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.feature-list-desc {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*======Section3======*/
.section {
  padding: 120px 0 120px;
}
.section-doing{
  padding-top: 0;
}

.list-doing {
  gap: 24px;
  display: flex;
  
}
.item-doing {
  width: calc((100% - 48px) / 3);
}
.section-title {
   font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

/*======Section4======*/
.team-list {
  gap: 24px;
  display: flex;
  list-style-type: none;
}

.team-section {
  background-color: #f4f4fd;
  padding: 120px 0 120px;
}
.img-team-list {
  background-color: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.img {
  display: block;
}

.img-team-list {
  width: calc((100% - 72px) / 4);
}

.tim-div {
  padding: 32px 0 32px;
  border-radius: 0px 0px 4px 4px;
}
.team-name {
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-profession {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

/*======Section5======*/
.section-company {
  padding-top: 120px;
  padding-bottom: 120px;
}
.list-company {
  display: flex;
  gap: 24px;
}
.title-section {
  font-size: 36px;
  line-height: 1.1;
  color: #2e2f42;
  margin-bottom: 72px;
  text-align: center;
}
.company-item {
  width: calc((100% - 120px) / 6);
  height: 88px;
}
.link-company {
  display: flex;
  align-items: center;
  justify-content: center;
  color:#8e8f99;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  height: 100%;
}
.link-company:hover,
.link-company:focus {
  border-color: #404bbf;
  color: #404bbf;
}
.company-icon {
  fill: currentColor;
}

/*======footer======*/
.footer {
  background-color: #2e2f42;
  padding: 100px 0 100px;
}

.footer-desc {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 264px;
}
.logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
}

.logo-studio-footer {
  font-family: "Raleway" sans-serif;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #f4f4fd;
}

.logo-link {
  display: inline-block;
  margin-bottom: 16px;
  text-transform: uppercase;
}
.social-container{
  margin-right: 80px;
}
/* footer subcribe */
.footer-subscribe button{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  gap: 16px;
  
  width: 165px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: #FFFFFF;
  background: #4D5AE5;
  border: none;
border-radius: 4px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-subscribe button:focus,
.footer-subscribe button:hover{
  background-color: #404bbf;}

  .subcribe-text{
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}
  .footer-form{
    position: relative;
    display: flex;
    gap: 24px;
  
  }
.footer-input{
  padding: 8px;
  padding-left: 16px;
  width: 264px;
  height: 40px;
  color:#ffffff;
  background: none;
  border: 1px solid #FFFFFF;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
}
.footer-input:focus{
  border: 1px solid #4D5AE5;
border-radius: 4px;
}
.footer-input::placeholder{
  color: #FFFFFF;
}

.footer-span{
  position: absolute;
  top: 0;
  left: 16px;
 font-size: 12px;
line-height: 2.00;
letter-spacing: 0.04em;
color: #ffffff;
}

  .icon-send{
    fill: #f4f4fd;
}
/*======portfolio======*/
.header {
  border-bottom: 1px solid #e7e9fc;
}
.filter-buttons {
  background-color: #f4f4fd;

  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  cursor: pointer;
  color: #4d5ae5;
  background: #f4f4fd;
  transition:background-color  250ms cubic-bezier(0.4, 0, 0.2, 1),color  250ms cubic-bezier(0.4, 0, 0.2, 1),box-shadow  250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}
.list-btn {
  justify-content: center;
  margin-bottom: 72px;
}

.list-filter {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}
.item-filter {
  width: calc((100% - 2 * 24px) / 3);
}
.border {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;

  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}
.div-animations {
  position: relative;
  overflow: hidden;
}


.card-animations {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px 0;
  background-color: #4d5ae5;
  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:hover .card-animations {
  transform: translatey(0);
}
.portfolio-link:focus .card-animations{
  transform: translateY(0%);
}
.card-animations > p {
  width: 296px;
  min-height: 96px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.portfolio-link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.filter-buttons:hover,
.filter-buttons:focus {
  background-color: #404bbf;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-link {
  display: block;
  text-decoration: none;
}

.project-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.project-type {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.border {
  padding: 32px 16px;
  border-bottom: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
}

.list-filter {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}

.filter-buttons {
  padding: 12px 24px 12px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
}
.list-btn {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.section-filter {
  padding: 96px 0 120px;
}
.project-title {
  margin-bottom: 8px;
}

.item-filter {
  width: calc((100% - 48px) / 3);
  display: block;
}
.item-filter:hover,
.link-icon:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
img {
  display: block;
}

.menu-item {
  gap: 40px;
}
.buttons {
  padding: 16px 32px;
  border: none;
  border-radius: 4px;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;

  color: #4d5ae5;
  background: #f4f4fd;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.buttons:hover,
.buttons:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: #ffffff;
  background: #404bbf;
}

/*======icon======*/
.strategy-div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  margin-bottom: 8px;
  background: #f4f4fd;
  border-radius: 4px;
}
.strategy-icon {
}

.team-icon-list {
  justify-content: center;
  display: flex;
  gap: 24px;
}
.link-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-icon:hover,
.link-icon:focus {
  background-color: #404bbf;
}

.team-icon {
  fill: #f4f4fd;
}
.footer-flex {
  display: flex;
  align-items: baseline;
  
}
.flex-container {
  margin-right: 120px;
}

.social-text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.social-list {
  display: flex;
  gap: 16px;
}
.social-footer {
}

.link-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-footer:hover,
.link-footer:focus {
  background-color: #31d0aa;
}
.footer-icon {
  fill: #f4f4fd;
}
.icon-send {
   fill: currentColor;
}
